.advantages {
    @media (min-width: $tablet) {
        padding-top: 10px;
        padding-bottom: 60px;
        background-image: url("../img/angle-light.svg");
    }
    
    @media (min-width: $desktop) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.advantages__list {
    list-style: none;
    
    @media (min-width: $tablet) {
        display: block;
    }
    
    @media (min-width: $desktop) {
        display: flex;
    }
}

.advantages__item {
    max-width: 300px;
    margin: 0 auto;
    
    @media (min-width: $tablet) {
        display: flex;
        align-items: center;
        padding: 30px 0;
        max-width: none;

        &:nth-child(2) {
            border-top: 1px solid rgba($border, .1);
            border-bottom: 1px solid rgba($border, .1);
        }
    }
    
    @media (min-width: $desktop) {
        flex-direction: column;

        &:nth-child(2) {
            border: none;
            border-right: 1px solid rgba($border, .1);
            border-left: 1px solid rgba($border, .1);
        }
    }
}

.advantages__image {
    display: block;
    margin: 0 auto;
    width: 95px;
    height: 95px;

    
    @media (min-width: $tablet) {
        margin: 0;
    }
}

.advantages__wrapper-text {
    margin-top: 30px;

    @media (min-width: $tablet) {
        margin-top: 0;
        padding: 0 35px;
    }

    @media (min-width: $desktop) {
        margin-top: 40px;
        padding: 0 45px;
    }
}

.advantages__title {
    color: rgba($white, .9);
    font-size: 30px;
    text-align: center;
    
    @media (min-width: $tablet) {
        text-align: left;
    }
    
    @media (min-width: $desktop) {
        text-align: center;
    }
}

.advantages__description {
    color: rgba($white, .9);
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-top: 25px;
    
    @media (min-width: $tablet) {
        text-align: left;
    }
    
    @media (min-width: $desktop) {
        text-align: center;
        margin-top: 20px;
    }
}

.advantages__dots {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.advantages__dot {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid $bg-grey;
    transform: rotate(45deg);
    font-size: 0;
    margin: 0 10px;

    &.active {
        background-color: $bg-grey;
    }
}