.button {
    width: 260px;
    font-size: 18px;
    border: 1px solid $border;
    padding: 15px 0;
    color: $black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        border: 1px solid darken($border, 10);
    }
}

@media (min-width: $tablet) {
    .button {
        width: 160px;
    }   
}