.button {
    width: 260px;
    font-size: 18px;
    border: 1px solid #e5ddd5;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        border: 1px solid darken(#e5ddd5, 10);
    }
}

@media (min-width: 768px) {
    .button {
        width: 160px;
    }   
}