.contacts__name {
    font-size: 18px;
    color: $white;
    text-align: center;
    display: block;

    @media (min-width: $tablet) {
        text-align: left;
    }
}

.contacts__address {
    font-size: 18px;
    color: $white;
    text-align: center;
    margin-top: 20px;

    @media (min-width: $tablet) {
        text-align: left;
    }
}

.contacts__tel {
    font-size: 18px;
    color: $white;
    display: block;
    border: 1px solid $border-dark;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 0;
    margin-top: 20px;

    @media (min-width: $tablet) {
        border: none;
        text-align: left;
        font-weight: normal;
        margin-top: 10px;
        padding: 0;
    }
}
