@import "../colors.scss";

.filter {
    display: none;
    
    @media (min-width: $desktop) {
        width: 200px;
        display: block;
    }
    
    &--opened {
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        padding: 30px;
        width: 100%;
        background-color: $bg-grey;
        
        @media (min-width: $tablet) {
            position: fixed;
            width: 400px;
            height: 100%;
            box-shadow: 0 0 0 1000px rgba(#222, .7);
        }
    }
}

.filter__control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: $desktop) {
        display: none;
    }
}

.filter__reset {
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.filter__close {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: relative;

    &::before, &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        display: block;
        background-color: #222;
        left: 50%;
    }   

    &::before {
        transform: translateX(-50%) rotate(45deg);
    }

    &::after {
        transform: translateX(-50%) rotate(-45deg);
    }
}

.filter__widget {
    border: none;
    margin-bottom: 50px;

    &--closed {
        margin-bottom: 0;
    }
}

.filter__widget label {
    cursor: pointer;
}

.filter__widget--closed .filter__legend{
    &::after {
        transform: rotate(90deg);
    }
}

.filter__widget--closed .filter__widget-wrapper {
    display: none;
}

.filter__legend {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
    cursor: pointer;
    
    &::after {
        content: ">";
        position: absolute;
        right: 0;
    }
}



.filter__submit {
    background-color: $black;
    color: $white;
    font-size: 14px;
    width: 100%;
}