@import "../colors.scss";
.news {
    margin: 0 auto;
    margin-top: 40px;
    padding: 50px 20px; 
    background-color: $bg-grey;
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        border-bottom: 30px solid $bg-grey;
    }
    &::before {
        right: 0;
        border-left: 50vw solid $bg-black-mobile;
    }
    &::after {
        left: 0;
        border-right: 50vw solid $bg-black-mobile;
    }
}

.news__wrapper {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
}

.news__tittle {
    font-size: 30px;
    text-align: center;
}

.news__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.news__item {
    display: flex;
    padding: 20px 0;
    &:first-child {
        border-bottom: 1px solid #e5ddd5;
    }
    &:nth-child(3) {
        display: none;
    }
}

.news__date {
    background-color: #000;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -39px;
        border: 25px solid transparent; /* Прозрачные границы */
        border-top: 15px solid #000; /* Добавляем треугольник */
    }
}

.news__day {
    font-size: 30px;
    display: block;
    text-align: center;
    line-height: 20px;
}

.news__text {
    margin-left: 20px;
    font-size: 18px;
}

.news__to-all {
    margin: 0 auto;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .news {
        padding: 50px 65px;
        margin: 0;
        &::before, &::after {
            display: none;
        }
    }
    .news__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 640px;
    }
    .news__list {
        flex-direction: row;
        order: 3;
    }

    .news__item {
        flex-basis: 50%;
        padding-right: 50px;
        &:first-child {
            border: none;
        }
    }

    .news__tittle {
        font-size: 40px;
        text-align: left;
        order: 1;
    }

    .news__to-all {
        order: 2;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .news {
        padding: 50px 120px;
    }

    .news__wrapper {
        width: 960px;
    }
    
    .news__item {
        &:nth-child(3) {
            display: flex;
        }
    }
}