.page-footer {
    padding-top: 40px;
    padding-bottom: 25px;
    background-color: $bg-footer;

    @media (min-width: $tablet) {
        padding-top: 55px;
        padding-bottom: 55px;
    }
}

.page-footer__wrapper {
    max-width: 400px;
    margin: 0 auto;

    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: none;
    }

    @media (min-width: $desktop) {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.page-footer__contacts {
    padding: 0 20px;

    @media (min-width: $tablet) {
        padding: 0;
        flex-shrink: 0;
        order: 1;
    }

    @media (min-width: $desktop) {
        padding: 0;
    }
}

.page-footer__social {
    margin-top: 20px;

    @media (min-width: $tablet) {
        order: 3;
        width: 100%;
        margin-top: 50px;
    }

    @media (min-width: $desktop) {
        width: auto;
        order: 2;
        margin: 0;
        margin-left: 60px;
    }
}

.page-footer__copyright {
    margin-top: 30px;

    @media (min-width: $tablet) {
        width: 160px;
        order: 2;
        flex-shrink: 0;
        margin: 0;
        margin-left: auto;
    }

    @media (min-width: $desktop) {
        order: 3;
    }
}