.pagination__list {
    display: flex;
    list-style: none;
}

.pagination__item {
    width: 43px;
    height: 43px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    &--current {
        background-color: #ffffff;
        color: #000000
    }
}