.pagination__list {
    display: flex;
    list-style: none;
}

.pagination__item {
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    &--current {
        background-color: $white;
    }
    
    &--current .pagination__link {
        color: $black;
    }
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    text-decoration: none;
    color: $white;
}