.portfolio {
    background-color: $bg-grey;
    padding-top: 30px;
    padding-bottom: 70px;

    @media (min-width: $tablet) {
        background-image: url("../img/angle-dark.svg");
        padding-bottom: 100px;
    }

    @media (min-width: $desktop) {
        background-image: none;
    }
}

.portfolio__header-row {
    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.portfolio__title {
    margin: 0;
    text-align: center;

    @media (min-width: $tablet) {
        font-size: 40px;
        text-align: left;
    }
}

.portfolio__to-main {
    display: none;

    @media (min-width: $tablet) {
        display: block;
    }
}

.portfolio__work {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid $border;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $tablet) {
        flex-direction: row;
        width: 640px;
        margin-bottom: 40px;
    }

    @media (min-width: $desktop) {
        width: 295px;
        flex-direction: column;
        margin: 0;
    }
}

.portfolio__best-work {
    margin-top: 30px;

    @media (min-width: $tablet) {
        margin-top: 50px;
    }

    @media (min-width: $desktop) {
        width: 960px;
        flex-direction: row;
        margin-top: 85px;
    }
}

.portfolio__client-image {
    flex-shrink: 0;
    font-size: 0;
}

.portfolio__info {
    display: flex;
    flex-direction: column;
    padding: 25px;

    @media (min-width: $tablet) {
        padding: 45px;
        width: 100%;
    }

    @media (min-width: $desktop) {
        padding: 30px;
        flex-grow: 1;
    }
}

.portfolio__best-work .portfolio__info {
    @media (min-width: $desktop) {
        padding: 120px 40px 40px;
    }
}

.portfolio__best-work .portfolio__client-review {
    @media (min-width: $desktop) {
        padding-right: 100px;
    }
}

.portfolio__client-name {
    font-size: 24px;
    font-weight: bold;
}

.portfolio__client-review {
    margin-top: 25px;
    line-height: 27px;
}

.portfolio__services-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @media (min-width: $tablet) {
        margin-top: auto;
    }
}

.portfolio__services-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-right: 25px;
    margin-top: 25px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &--haircut {
        &::before {
            background-image: url("../img/admiral-beard.svg");
        }
    }
    
    &--shaving {
        &::before {
            background-image: url("../img/scissors.svg");
        }
    }
    
    &--mustache {
        padding-left: 50px;
        &::before {
            background-image: url("../img/mustache.svg");
            width: 35px;
            height: 35px;
        }
    }


}

.portfolio__works-wrapper {
    @media (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}