.price-buy {
    display: flex;
}

.price-buy__price {
    background-color: #e5e5e5;
    text-align: center;
    width: 50%;
    flex-shrink: 0;
    font-weight: bold;
    line-height: 48px;
    font-size: 24px;
}

.price-buy__btn {
    font-size: 14px;
    background-color: $black;
    color: $white;
    border: none;
    width: 50%;
}