@import "../colors.scss";

.products {
    width: 100%;
    @media (min-width: 1200px) {
        width: 700px;
    }
}

.products__list {
    list-style: none;
    display: block;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.products__item {
    background-color: #fff;
    border: 1px #ddd solid;
    min-width: 240px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 768px) {
        margin-bottom: 0;
    }

    @media (min-width: 1200px) {
        width: 220px;
    }
}

.products__img {
    width: 100%;
}

.products__info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.products__title {
    font-size: 18px;
}

.products__wrapper {
    display: flex;
    margin-top: 12px;
}

.products__price {
    background-color: #e5e5e5;
    text-align: center;
    width: 110px;
    flex-shrink: 0;
    font-weight: bold;
    line-height: 48px;
}

.products__btn {
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border: none;
}

.products__pagination {
    margin-top: 30px;
}

.products__page-list {
    @media (max-width: 1199px) {
        justify-content: center;
    }
}