.product-page {
    background-color: $bg-grey;
    padding-top: 30px;
    padding-bottom: 70px;
}

.product-page__wrapper {
    padding: 0 20px;
    max-width: 600px;
    min-width: 280px;
    margin: 0 auto;

    @media (min-width: $tablet) {
        padding: 0;
        max-width: none;
    }
}

.product-page__breadcrumbs {
    margin-top: 15px;
}

.product-page__outer-wrapper {
    margin-top: 50px;
    @media (min-width: $desktop) {
        display: flex;
    }
}

.product-page__gallery {
    @media (min-width: $desktop) {
        width: 460px;
        flex-shrink: 0;
    }
}

.product-page__main-img {
    width: 100%;
    border: 1px solid $border;
}

.product-page__preview-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @media (min-width: $tablet) {
        justify-content: space-between;
    }
}

.product-page__preview-item {
    border: 1px solid $border;
    width: 100px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    @media (min-width: $tablet) {
        width: auto;
        margin-right: 0;
    }
}

.product-page__preview-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    @media (min-width: $tablet) {
        width: 195px;
    }
    @media (min-width: $desktop) {
        width: 140px;
    }
}

.product-page__info {
    margin-top: 50px;

    @media (min-width: $desktop) {
        margin-top: 0;
        margin-left: 90px;
        width: 50%;
    }
}

.product-page__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-page__availability {
    font-weight: bold;
}

.product-page__vendor-code {
    color: $disabled;
}

.product-page__description {
    margin-top: 30px;
    line-height: 1.5;
}

.product-page__price-buy {
    margin-top: 35px;
}

.product-page__includes-title {
    margin-top: 60px;
}

.product-page__includes-list {
    list-style: none;
    margin-top: 20px;
}

.product-page__includes-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: $black;
        transform: rotate(45deg); 
        left: 0;  
    }
}