@import "../colors.scss";

.products {
    width: 100%;
    @media (min-width: 1200px) {
        width: 700px;
    }
}

.products__list {
    list-style: none;
    display: block;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.products__item {
    background-color: #fff;
    border: 1px solid $border;
    min-width: 240px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 768px) {
        margin-bottom: 0;
    }

    @media (min-width: 1200px) {
        width: 220px;
    }
}

.products__link {
    text-decoration: none;
    color: #000000;
}

.products__img {
    width: 100%;
}

.products__info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.products__title {
    font-size: 18px;
}

.products__pagination {
    margin-top: 30px;
}

.products__price-buy {
    margin-top: 15px;
}

.products__page-list {
    @media (max-width: 1199px) {
        justify-content: center;
    }
}