.reviews {
    background-color: $bg-grey;
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px solid $border;
    
    @media (min-width: $tablet) {
        padding-top: 40px;
        padding-bottom: 65px;
    }
    
    @media (min-width: $desktop) {
        padding-bottom: 50px;
    }
}

.reviews__wrapper {
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 0;
        max-width: none;
    }
}

.reviews__title {
    font-size: 30px;
    text-align: center;

    @media (min-width: $tablet) {
        text-align: left;
        font-size: 40px;
    }
}

.reviews__set-feedback {
    display: none;

    @media (min-width: $tablet) {
        display: block;
    }
}

.reviews__list {
    margin-top: 30px;
    position: relative;

    @media (min-width: $tablet) {
        margin-top: 40px;
    }

    @media (min-width: $desktop) {
        margin-top: 35px;
    }
}

.reviews__item {
    display: flex;
    flex-shrink: 0;

    @media (min-width: $tablet) {
        align-items: center;
        border: 1px solid $border;
        height: 160px;
        margin: 0 50px;
    }
}

.reviews__author-picture {
    flex-shrink: 0;
}

.reviews__author-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 10px;

    @media (min-width: $tablet) {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin-left: 30px;
    }

    @media (min-width: $desktop) {
        width: 250px;
        height: 160px;
        border-radius: 0;
        margin: 0;
    }
}

.reviews__wrapper-text {
    margin-left: 20px;
    
    @media (min-width: $tablet) {
        margin-left: 35px;
        padding-right: 35px;
    }
    
    @media (min-width: $desktop) {
        margin-left: 70px;
        padding-right: 70px;
    }
}

.reviews__author-name {
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}

.reviews__text {
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px;
}

.reviews__prev, .reviews__next {
    display: none;

    @media (min-width: $tablet) {
        display: block;
        position: absolute;
        height: 160px;
        width: 50px;
        top: 0;
        background-color: $bg-grey;
        border: 1px solid $border;
        font-size: 0px;
        cursor: pointer;

        &:hover {
            border: 1px solid darken($border, 10);
        }
    }

    @media (min-width: $desktop) {
        border: 1px solid $border;
    }
}

.reviews__prev {
    @media (min-width: $tablet) {
        border-right: none;
        left: 0;
        &::before {
            font-size: 16px;
            content: "\25C4";
        }
    }
}

.reviews__next {
    @media (min-width: $tablet) {
        border-left: none;
        right: 0;
        &::before {
            font-size: 16px;
            content: "\25BA";
        }
    }
}

.reviews__dots {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    @media (min-width: $tablet) {
        margin-top: 0;
        padding: 0 25px;
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        background-color: $bg-grey;
    }

    @media (min-width: $desktop) {
        position: static;
        margin-top: 40px;
        padding: 0;
        width: 100%;
        transform: unset;
    }
}

.reviews__dot{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid $bg-black;
    transform: rotate(45deg);
    font-size: 0;
    margin: 0 10px;
    &.active {
        background-color: $bg-black;
    }
}