.site-list {
    list-style: none;
    background-color: $brown-light;

    @media (min-width: $tablet) {
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
    }
}

.site-list__item {
    border-bottom: 1px solid darken($brown-light, 10);
    border-top: 1px solid lighten($brown-light, 10);

    @media (min-width: $tablet) {
        border: none;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
        
        &--active {
            border-bottom: 2px solid $brown-light;
        }
    }

    @media (min-width: $desktop) {
        width: 160px;
        text-align: center;
        margin: 0;

        &--active {
            border: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 30px;
                left: 30px;
                height: 3px;
                background-color: $brown-light;
            }
        }
    }
}

.site-list__link {
    color: $white;
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 14px;

    @media (min-width: $tablet) {
        padding: 20px 0;
    }
    
    @media (min-width: $desktop) {
        transition: all .2s;
        &:hover[href] {
            color: $black;
            background-color: $white;
        }
    }
}