.slider__list {
    list-style: none;
}

.slider__toggles {
    text-align: center;
}

.slider__toggle {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #f7f4f1;
    transform: rotate(45deg);
    font-size: 0;
    margin: 0 10px;
    cursor: pointer;
    &--active {
        background-color: #f7f4f1;
    }
}