.stats__wrapper {
    @media (min-width: $tablet) {
        margin: 0 auto;
        width: 640px;
        margin-top: -208px; //высота элемента stats__header
        display: grid;
        grid-template-rows: 1fr min-content;
        
    }

    @media (min-width: $desktop) {
        margin-top: -163px; //половина высоты всего блока
        grid-template-rows: none;
        grid-template-columns: 1fr 2fr;
        width: 960px;
    }
}

.stats__header {
    background-color: $white;
    padding: 30px 40px;

    @media (min-width: $tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop) {
        grid-template-columns: auto;
        grid-template-rows: min-content 1fr min-content;
    }
}

.stats__title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1;

    @media (min-width: $tablet) {
        text-align: left;
        font-size: 40px;
    }
}

.stats__text {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;

    @media (min-width: $tablet) {
        text-align: left;
        margin-top: 0;
        padding: 0 30px;
        padding-top: 5px;
    }

    @media (min-width: $desktop) {
        padding: 0;
        margin-top: 50px;
    }
}

.stats__list {
    border-collapse: collapse;
    width: 100%;

    @media (min-width: $desktop) {
        height: 100%;
    }
}

.stats__list tbody {
    @media (min-width: $tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: $desktop) {
        height: 100%;
    }
}

.stats__list tr {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    @media (min-width: $tablet) {
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }

    &:nth-child(1), &:nth-child(4) {
        background-color: #404040;
    }

    &:nth-child(2) {
        background-color: #4e4e4e;
    }

    &:nth-child(3) {
        background-color: #353535;
    }
}

.stats__value {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    color: $white;
    width: 55%;

    @media (min-width: $tablet) {
        font-size: 72px;
        width: 100%;
    }
}

.stats__value sup{
    position: absolute;
    top: 15px;
    margin-left: 10px;

    @media (min-width: $tablet) {
        top: 25px;
    }
}

.stats__field {
    font-size: 18px;
    color: $bg-grey;
    text-align: right;
    color: $white;
    width: 45%;

    @media (min-width: $tablet) {
        text-align: left;
        width: 100%;
    }
}

.stats__field br {
    @media (min-width: $tablet) {
        display: none;
    }
}

.stats__legend {
    display: block;
    text-align: center;
    font-size: 20px;

    &--top {
        display: none;
        color: $text-light;
        text-align: left;

        @media (min-width: $tablet) {
            margin-top: 20px;
        }

        @media (min-width: $desktop) {
            margin-top: 40px;
        }
    }

    &--bottom {
        padding: 20px 0;
        color: $text-light;
        background-color: $bg-black-mobile;
    }

    @media (min-width: $tablet) {
        &--top {
            display: block;
        }

        &--bottom {
            display: none;
        }
    }
}

.stats__footnote {
    font-size: 42px;
    line-height: 25px;
    top: auto;
}