.user-list {
    list-style: none;
    background-color: $brown-dark;

    @media (min-width: $tablet) {
        background-color: transparent;
    }
}

.user-list__item {
    position: relative;
}

.user-list__login {
    position: relative;
    display: block;
    color: $white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0 10px 45px;

    &::before {
        content: "";
        background-image: url("../img/login-icon.svg");
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        left: 20px;
        top: 13px;
    }

    @media (min-width: $tablet) {
        padding: 20px 0;
        padding-left: 25px;
        font-size: 0;

        &::before {
            left: 0;
            top: 13px;
        }
    }

    @media (min-width: $desktop) {
        font-size: 18px;
        &::before {
            left: 0;
            top: 24px;
        }
    }
}