$black: #000000;
$white: #ffffff;
$bg-black: #353535;
$bg-black-mobile: #242424;
$bg-grey: #f8f5f2;
$bg-footer: #292929;
$brown-light: #826550;
$brown-dark: #6a4d38;
$border: #e5ddd5;
$border-dark: #4a4a4a;
$disabled: #aeaeae;
$text-light: #aba9a7;